* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif, serif;
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0 auto 18px;
}

img {
    max-width: 10%;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.container {
    text-align: center;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin: 0 auto;
    max-width: 60%;
}

li {
    list-style: none;
    background-color: #1F2937;
    color: #F9FAF8;
    gap: 3px;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 12px;
    height: auto;
}

@media (max-width: 768px) {
    ul {
    grid-template-columns: 1fr 1fr;
    width: 60%;
    padding: 0;
    }
}

.topping {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 8px;
}

p {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1F2937;
    margin: 0 auto;
    width: 80%;
}

h3, h5{
    text-align: center;
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

ol {
display: grid;
gap: 12px;
grid-template-rows: 1fr 1fr;
margin: 0 auto;
max-width: 60%;

}

@media (max-width: 600px) {
    ol {
    display: grid;
    gap: 12px;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    max-width: 60%;
    padding: 0;
    }
}

h4 {
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    color: #1F2937;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 5px 20px;
    color: #E5E7EB;
    margin-top: 28px;
}

.footer-container p {
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    text-align: center;
}

